<%= render 'partials/home_header' %>
<%= render 'partials/home_alpha' %>

<section class="full-width-container">
  <div class="header-container">
    <%= form_tag(artists_path, :method => "get") do %>
      <div class="home-field">
        <%= text_field_tag :search, params[:search], placeholder: "Search Artists", class: "home-text-field" %>
      </div>
      <%= submit_tag "Search", class: "submit-button", :style => "display: none;" %>
    <% end %>
  </div>
</section>

<div class="wrapper">
  <div class="full-width-container home-container">
    <div class="container">
      <div class="home-line">

        <div class="mighty-site-title">
          <%= link_to "let:lyrics", root_url %>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="four">
      Recent Artists
      <% @recent_artists.each do |artist| %>
      <div>
        <%= link_to artist.artist_name, artist_path(artist) %>
      </div>
      <% end %>
    </div>

    <div class="four">
      Recent Albums
      <% @recent_albums.each do |album| %>
      <div>
        <%= link_to album.name, artist_album_path(Artist.find(album.artist_id).slug, album) %>
      </div>
      <% end %>
    </div>

    <div class="four">
      Recent Tracks
        <% @recent_lyrics.each do |lyrics| %>
        <div>
          <%= link_to lyrics.track_name, artist_album_lyric_path(Artist.find(lyrics.artist_id).slug, Album.find(lyrics.album_id).slug, lyrics) %>
        </div>
      <% end %>
    </div>

    <div class="four">
      Popular Users
      <% @popular_users.each do |user| %>
        <div>
          <%= link_to user.username, user_path(user) %> - <%= pluralize(user.lyrics.count, "lyric") %> posted
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'partials/footer' %>
