<%= provide(:title, "Learn How It Works") %>
<%= render 'partials/header' %>
<%= render 'partials/alpha' %>
<div class="wrapper">
  <div class="container">
    <div class="content">

      <div class="form-title">
        <h2>How Does let:lyrics Work?</h2>
      </div>
      <p>The first thing you need to do before you register for let:lyrics is to read this page. Make sure you read this thoroughly, especially the "Guidelines" section. Please.</p>
      <div class="form-title">
        <h3>let:lyrics is totally built by you!</h3>
      </div>
      <p>That's right! The users completely build the content on this site, minus a few tweaks by me. Artists, albums, lyrics, it's all added by the users.</p>
      <p>There are at least a gazillion songs out there. I can't add all the lyrics by myself.</p>
      <p>The best part is, you can make money from adding lyrics to the site!</p>
      <div class="form-title">
        <h3>Make money by adding lyrics?!</h3>
      </div>
      <p>let:lyrics uses Google AdSense to monetize the site. Once you register for the site you will have the option to add a Google AdSense code snippet to your profile. </p>
      <p>Getting this precious piece of information is super simple:</p>
      <ul>
        <li>Step 1: Create a Google AdSense account.</li>
        <li>Step 2: Create a Google AdSense ad unit. Click “get code” and copy your to the appropriate fields in your “Settings” page on let:lyrics.</li>
        <li>Step 3: ????</li>
        <li>Step 4: Profit.</li>
      </ul></br>
      <div class="form-title">
        <h3>Guidelines</h3>
      </div>
      <p>Since I want this site to be perfect, one of the downsides of being a perfectionist, I need to put some guidelines in place.</p>
      <p><strong>FAILURE TO FOLLOW THESE GUIDELINES WILL RESULT IN REMOVAL OF YOUR GOOGLE ADSENSE CODE ON THIS SITE AND/OR A REMOVAL OF YOUR ACCOUNT FROM THIS SITE.</strong></p>
      <p>When adding an artist to the site, include their Facebook page. This is an optional field, but if the artist has a Facebook page you must include it. I want the artists to be able to benefit as much from this site as you and the users who are searching their lyrics do. That means I want users to be one click away from connecting to the artist (two if the user ends up “Liking” the artist’s page.)</p>
      <p>Do not add duplicates of anything including artists, albums, tracks, lyrics etc… A "deluxe" album is not another album. A "single" is not a separate album/track. An exception may be if the same track appears on two different albums.</p>
      <p>Make sure artists, albums, tracks, lyrics etc... are spelled correctly and the information is completely correct. This is big for let:lyrics. I think it is crap when you go to a lyrics site and every other word is spelled wrong. It’s sloppy. I don’t do sloppy. I do clean. I do go through and check up on stuff, mostly artist and album names. If I have to change the information I will take your account out of the system. This is the warning =]</p>
      <p>You must follow <%= link_to "Google AdSense Online Terms of Service", "https://www.google.com/adsense/localized-terms?rc=US&ce=1", :target => "_blank" %> and all other Google related and Google AdSense related Terms of Service/Use/Conditions. I'd skim them if I were you. Google is quick to ban people who try to cheat the system. That means no clicking on your own ads. That means no telling people to click on your ads. That means do not share your lyric page with the world with the sole purpose of them clicking on your ads. Don't do anything sketchy with your ads. let:lyrics will not do anything if your Google AdSense account is banned by Google. Sorry, but they can crush me.</p>

    </div>
    <%= render 'partials/static_sidebar' %>
  </div>
</div>
<%= render 'partials/footer' %>
