<%= provide(:title, "Learn How It Works") %>
<%= render 'partials/header' %>
<%= render 'partials/alpha' %>
<div class="wrapper">
  <div class="container">
    <div class="content">

      <div class="form-title">
        <h2>How Does let:lyrics Work?</h2>
      </div>
      <p>The first thing you need to do before you register for let:lyrics is to read this page. Make sure you read this thoroughly, especially the "Guidelines" section. Please.</p>
      <div class="form-title">
        <h3>let:lyrics is totally built by you!</h3>
      </div>
      <p>That's right! The users completely build the content on this site, minus a few tweaks by me. Artists, albums, lyrics, it's all added by the users.</p>
      <p>There are at least a gazillion songs out there. I can't add all the lyrics by myself.</p>
      <p>The best part is, you can make money from adding lyrics to the site!</p>
      <div class="form-title">
        <h3>Make money by adding lyrics?!</h3>
      </div>
      <p>let:lyrics uses Amazon Affiliates to monetize the site. Once you register for the site you will have the option to add your Amazon Affiliate ID to your profile. </p>
      <p>Getting this precious piece of information is super simple:</p>
      <ul>
        <li>Step 1: Create an Amazon Affiliate account.</li>
        <li>Step 2: Copy your Amazon Affiliate ID (should be the thing with "-20" at the end) and paste it into the appropriate field on your profile</li>
        <li>Step 3: ????</li>
        <li>Step 4: Profit.</li>
      </ul>
      <div class="form-title">
        <h3>Guidelines</h3>
      </div>
      <p>Since I want this site to be perfect, one of the downsides of being a perfectionist, I need to put some guidelines in place.</p>
      <p><strong>FAILURE TO FOLLOW THESE GUIDELINES WILL RESULT IN REMOVAL OF YOUR AMAZON AFFILIATE ID ON THIS SITE AND/OR A REMOVAL OF YOUR ACCOUNT FROM THIS SITE.</strong></p>
      <p>When adding an artist to the site, include their Facebook page. This is an optional field, but if the artist has a Facebook page you must include it. I want the artists to be able to benefit as much from this site as you and the users who are searching their lyrics do. That means I want users to be one click away from connecting to the artist (two if the user ends up “Liking” the artist’s page.)</p>
      <p>Do not add duplicates of anything including artists, albums, tracks, lyrics etc… A "deluxe" album is not another album. A "single" is not a separate album/track. An exception may be if the same track appears on two different albums.</p>
      <p>Make sure artists, albums, tracks, lyrics etc... are spelled correctly and the information is completely correct. This is big for let:lyrics. I think it is crap when you go to a lyrics site and every other word is spelled wrong. It’s sloppy. I don’t do sloppy. I do clean. I do go through and check up on stuff, mostly artist and album names. If I have to change the information I will take your account out of the system. This is the warning =]</p>
      <p>You must follow <%= link_to "Amazon Affiliate Terms of Service", "http://www.amazon.com/gp/help/customer/display.html?ie=UTF8&nodeId=508088", :target => "_blank" %> and all other Amazon related and Amazon Affiliate related Terms of Service/Use/Conditions. I'd skim them if I were you.</p>

    </div>
    <%= render 'partials/static_sidebar' %>
  </div>
</div>
<%= render 'partials/footer' %>
