<%= provide(:title, "Privacy Policy") %>
<%= render 'partials/header' %>
<%= render 'partials/alpha' %>
<div class="wrapper">
  <div class="container">
    <div class="content">

      <div class="form-title">
        <h2>Privacy Policy for livelyrics.com</h2>
      </div>
      <p>I, Alex Heil, at livelyrics.com (possibly later referred to as “Site”, “Website”, “I”, “Company”) believe in privacy. I mean who doesn’t? The NSA, that’s who. Ohhhhh, burn.</p></br>
      <p>The following sentences and paragraphs show just what livelyrics.com does in regards to information gathering and dissemination practices. By accessing the livelyrics.com website and domain name, mobile applications, and any other linked pages, features, content, or application services offered from time to time you acknowledge that you accept the practices and policies outlined in this Privacy Policy.</p></br>
      <p>Boilerplate, boilerplate.</p></br>
      <div class="form-title">
        <h3>Livelyrics.com collects your personal information</h3>
      </div>
      <p>And let me tell you why.</p></br>
      <p>Gathering your personal information such as your email, username, password, IP address, browser information, and any other information you provide associated with creating a user account. If that makes you uncomfortable in any way, please do not provide said information on this Site. However, should you choose to go down that path you may not have access to some of the features on livelyrics.com. Livelyrics.com uses this information to allow you to fully use the features on this site such as creating content, interacting with other users, etc…</p></br>
      <p>Oh, but don’t worry. Your personal information will never get bartered, rented, or sold to any third party companies like some crappy repossessed car at an auction.</p></br>
      <p>Third parties that have access to this Site, such as analytics providers (Google analytics, gotta see those stats, baby), collect and store information automatically whenever you visit one of the pages on this Site, or use any of the services this Site provides. Livelyrics.com automatically sees, collects, and records information on our server logs such as IP address, cookie information, and the page you have requested.</p></br>
      <p>Speaking of third parties, we use third party advertising (Google AdSense), and they may be scooping some information about you (not your name, address, email address, or telephone number) when you visit our pages in order to better provide you with advertisements on this Site or other sites about goods and services that may be of interest to you instead of showing you stuff you hate like slow cars and Barbie Dolls, blah, blah, blah.</p></br>
      <p>Livelyrics.com will never ask for your credit card information, bank account information, or any private financial information in general, so please never input any of that top secret stuff into any forms on this Site.</p></br>
      <div class="form-title">
        <h3>Does livelyrics.com use <strike>chocolate chip</strike> cookies?</h3>
      </div>
      <p>Hell yeah we do!</p></br>
      <p>First of all, third party advertisers (Google AdSense) will place or recognize a cookie on your browser.</p></br>
      <p>Second of all, livelyrics.com will place or recognize a cookie on your browser so that this Site can recognize your browser. The cookies livelyrics.com uses do not collect your information. In reality, the only time livelyrics.com uses cookies is when you check the “Remember Me” box when signing into the Site. You can choose to turn cookies off in your browser settings, but I recommend keeping them on if you don’t want to keep logging back into the site every 10 seconds.</p></br>
      <div class="form-title">
        <h3>Livelyrics.com links to external sites!</h3>
      </div>
      <p>Damn right, livelyrics.com links to external sites and I’ll tell you which ones right here.</p></br>
      <p>With using Google AdSense as one of the advertisers on the Site, there are many different external links that they may be linking to. Livelyrics.com is not responsible for the privacy on any site Google AdSense links to.</p></br>
      <p>Livelyrics.com links to Amazon.com in order for it’s users to be able to find the tracks they see on this Site. Livelyrics.com is not responsible for anything privacy related on Amazon.com or anything they link to, but they are Amazon, so I’m sure they have you covered.</p></br>
      <div class="form-title">
      <h3>Stuff you post on livelyrics.com may become public!</h3>
      </div>
      <p>That includes the creation of content on livelyrics.com.</p></br>
      <p>But I’m mostly looking at the folks who post comments on the lyrics posted on this Site. Just be aware that whatever you enter in the comment form can be seen by anyone who accesses the Site. Be not stupid and do not post any personal information that you wouldn’t share with your grandmother there.</p></br>
      <div class="form-title">
        <h3>Please read these next few paragraphs if you are a child or if you are not visiting from the United States of America. Thank you.</h3>
      </div>
      <p>Livelyrics.com does not knowingly collect, use, maintain, gather, preserve, assemble, or retain any personal information from anyone under the age of 13. No part of this Site is for anyone under the age of 13. It’s like when Virgil and Dante enter the gates of Hell. Lasciate ogne speranza, voi ch'intrate.</p></br>
      <p>If you are visiting this Site from a country other than the United States of America with different data collection and privacy laws than the data collection and privacy laws of the United States of America, please be aware that you are transferring your data to the United States of America. By providing your information you consent to any transfer and processing in accordance with this Privacy Policy.</p></br>
      <div class="form-title">
        <h3>When this Site’s Privacy Policy changes…</h3>
      </div>
      <p>…the date at the top of this page will change. Please check back regularly in order to be in tip-top-livelyrics.com-Privacy-Policy shape. Anyone who used this Site prior to the date at the top of this page is subject to the laws and guidelines at the time the information was collected.</p></br>
      <p>Your continued use of this Site means that you agree and fully understand what’s going on in the revised, updated version of the Privacy Policy.</p></br>
      <p>Oh, and guess what?</p></br>
      <p>Livelyrics.com reserves the right to change this Privacy Policy at any time. At any minute, any day, any second, any hour this policy can be changed by livelyrics.com.</p></br>
      <p>No whining.</p></br>


    </div>
    <%= render 'partials/static_sidebar' %>
  </div>
</div>
<%= render 'partials/footer' %>
