<%= provide(:title, "Terms of Service") %>
<%= render 'partials/header' %>
<%= render 'partials/alpha' %>
<div class="wrapper">
  <div class="container">
    <div class="content">

      <div class="form-title">
        <h2>Terms of Use for letlyrics.com</h2>
      </div>

      <p>Please use the site responsibly.</p>

      <div class="form-title">
        <h3>At the moment...</h3>
      </div>

      <p>There are no services on this site, therefore there is nothing to purchase, meaning no payments will be taken, thus no refunds are available.</p>

      <p>Please read the <%= link_to "privacy policy", privacy_path %>.</p>

      <p>I will and can change this Terms of Service whenever I want to.</p>

      <p>If you think that I have violated your copyright in any way, tweet me <a href="https://twitter.com/RealAlexHeil">@RealAlexHeil</a> or use the <%= link_to "DMCA Policy", dmca_policy_path %>. We will discuss from there.</p>

      <p>This site links to external sites and I am not responsible for what you do on those sites. Oh, and it’s possible it may be an affiliate link. If that’s the case I may make money through affiliate sales.</p>

      <p>That’s it.</p>

    </div>
    <%= render 'partials/static_sidebar' %>
  </div>
</div>
<%= render 'partials/footer' %>
