<%= provide(:title, "Terms of Service") %>
<%= render 'partials/header' %>
<%= render 'partials/alpha' %>
<div class="wrapper">
  <div class="container">
    <div class="content">

      terms

    </div>
    <%= render 'partials/static_sidebar' %>
  </div>
</div>
<%= render 'partials/footer' %>
