<section class="full-width-container">
  <div class="header-container">
    <nav class="alpha-nav">
      <ul>
        <li><%= link_to "#", numbers_path, class: "nav-links" %></li>
        <li><%= link_to "a", a_path, class: "nav-links" %></li>
        <li><%= link_to "b", b_path, class: "nav-links" %></li>
        <li><%= link_to "c", c_path, class: "nav-links" %></li>
        <li><%= link_to "d", d_path, class: "nav-links" %></li>
        <li><%= link_to "e", e_path, class: "nav-links" %></li>
        <li><%= link_to "f", f_path, class: "nav-links" %></li>
        <li><%= link_to "g", g_path, class: "nav-links" %></li>
        <li><%= link_to "h", h_path, class: "nav-links" %></li>
        <li><%= link_to "i", i_path, class: "nav-links" %></li>
        <li><%= link_to "j", j_path, class: "nav-links" %></li>
        <li><%= link_to "k", k_path, class: "nav-links" %></li>
        <li><%= link_to "l", l_path, class: "nav-links" %></li>
        <li><%= link_to "m", m_path, class: "nav-links" %></li>
        <li><%= link_to "n", n_path, class: "nav-links" %></li>
        <li><%= link_to "o", o_path, class: "nav-links" %></li>
        <li><%= link_to "p", p_path, class: "nav-links" %></li>
        <li><%= link_to "q", q_path, class: "nav-links" %></li>
        <li><%= link_to "r", r_path, class: "nav-links" %></li>
        <li><%= link_to "s", s_path, class: "nav-links" %></li>
        <li><%= link_to "t", t_path, class: "nav-links" %></li>
        <li><%= link_to "u", u_path, class: "nav-links" %></li>
        <li><%= link_to "v", v_path, class: "nav-links" %></li>
        <li><%= link_to "w", w_path, class: "nav-links" %></li>
        <li><%= link_to "x", x_path, class: "nav-links" %></li>
        <li><%= link_to "y", y_path, class: "nav-links" %></li>
        <li><%= link_to "z", z_path, class: "nav-links" %></li>
      </ul>
    </nav>
  </div>
</section>
