<%= provide(:title, sanitize(@album.name) + " lyrics | " + sanitize(@artist.artist_name)) %>
<%= render 'partials/header' %>
<%= render 'partials/alpha' %>
<div class="wrapper">
  <div class="container">
    <div class="content">

      <div class="artist-name">
        <h2><%= link_to @artist.artist_name, artist_path(@artist) %></h2>

        <%= render 'partials/artist_website' %>

      </div>
      <div class="album-separate">
        <span class="album-name"><%= @album.name %></span> - <%= @album.year %>
      </div>
      <% @album.lyrics.each do |lyric| %>
        <div class="track-separate">
          <%= lyric.track_number %> - <%= link_to lyric.track_name, artist_album_lyric_path(@artist, @album, lyric) %>
        </div>
      <% end %>
      <div class="album-separate">
        <%= link_to "Add a track to #{@album.name}", new_artist_album_lyric_path(@artist, @album) %>
      </div>

      <% if user_signed_in? && current_user.username == "alexheil" %>
      <div class="hello-alex">
        <%= link_to "Hello, Alex.", artist_album_path, method: :delete %>
      </div>
      <% end %>

    </div>
    <%= render 'partials/artist_sidebar' %>
  </div>
</div>
<%= render 'partials/footer' %>
