<%= provide(:title, sanitize(@lyric.track_name) + " lyrics | " + sanitize(@artist.artist_name)) %>
<div class="wrapper">
  <div class="container">
    <div class="content">

      <div class="amazon-container">
        <% if @user.amazon_affiliate_id.blank? %>
          <span class="amazon-title"><a target="_blank" href="http://www.amazon.com/mn/search/ref=as_li_ss_tl?_encoding=UTF8&camp=1789&creative=390957&field-keywords=<%= @artist.artist_name %>&linkCode=ur2&linkId=RPGD2D4ZYZC7BVNK&tag=noisaea-20&url=search-alias%3Daps&linkId=UM5CKLMTFR6G3MJ4">
          <svg class="play" viewBox="0 0 24 24">
            <path d="M12,20.14C7.59,20.14 4,16.55 4,12.14C4,7.73 7.59,4.14 12,4.14C16.41,4.14 20,7.73 20,12.14C20,16.55 16.41,20.14 12,20.14M12,2.14A10,10 0 0,0 2,12.14A10,10 0 0,0 12,22.14A10,10 0 0,0 22,12.14C22,6.61 17.5,2.14 12,2.14M10,16.64L16,12.14L10,7.64V16.64Z" />
          </svg>
          Play <%= @lyric.track_name %>!</a></span>
        <% else %>
          <span class="amazon-title"><a target="_blank" href="http://www.amazon.com/mn/search/ref=as_li_ss_tl?_encoding=UTF8&camp=1789&creative=390957&field-keywords=<%= @artist.artist_name %>&linkCode=ur2&linkId=RPGD2D4ZYZC7BVNK&tag=<%= @user.amazon_affiliate_id %>&url=search-alias%3Daps&linkId=UM5CKLMTFR6G3MJ4">
          <svg class="play" viewBox="0 0 24 24">
            <path d="M12,20.14C7.59,20.14 4,16.55 4,12.14C4,7.73 7.59,4.14 12,4.14C16.41,4.14 20,7.73 20,12.14C20,16.55 16.41,20.14 12,20.14M12,2.14A10,10 0 0,0 2,12.14A10,10 0 0,0 12,22.14A10,10 0 0,0 22,12.14C22,6.61 17.5,2.14 12,2.14M10,16.64L16,12.14L10,7.64V16.64Z" />
          </svg>
          Play <%= @lyric.track_name %>!</a></span>
        <% end %>
      </div>

      <div class="artist-name">
        <h2><%= link_to @artist.artist_name, artist_path(@artist) %></h2>

        <%= render 'partials/artist_website' %>

      </div>
      <div class="album-separate">
        <span class="album-name"><%= link_to @album.name, artist_album_path(@artist, @album) %></span>
      </div>
      <div class="album-separate">
        <strong><%= @lyric.track_name %></strong>
      </div>
      <div class="lyric-separate">
        <%= @lyric.lyrics %>
      </div>
      <div class="album-separate">
        Submitted by <%= link_to @user.username, user_path(@user) %>
      </div>

      <%= render 'partials/amazon_affiliate' %>

      <div class="album-separate">
        <strong>What is the meaning of <%= @lyric.track_name %> by <%= @artist.artist_name %>?</strong>
      </div>
      <div class="album-separate">
        <%= form_for(Comment.new, url: artist_album_lyric_comments_path(@artist, @album, @lyric)) do |f| %>
          <%= f.text_area :content, placeholder: "What do you think this song means?", class: "text-area" %>
          <div class="actions">
            <%= f.submit "Comment", class: "submit-button" %>
          </div>
        <% end %>
      </div>
      <% if @lyric.comments.any? %>
        <% @lyric.comments.each do |comment| %>
        <div class="album-separate">
          <%= link_to comment.username, user_path(comment.user_id) %> posted <%= time_ago_in_words(comment.created_at) %> ago</br>
          <%= comment.content %>
        </div>
        <% end %>
      <% else %>
        <div class="track-separate">
          No one has any opinion about the meaning of <%= @lyric.track_name %> yet. Add yours!
        </div>
      <% end %>

      <% if user_signed_in? && current_user.username == "alexheil" %>
      <div class="hello-alex">
        <%= link_to "Hello, Alex.", artist_album_lyric_path, data: { confirm: "Care for some Mighty Taco?" }, method: :delete %>
      </div>
      <% end %>

    </div>
  <%= render 'partials/artist_sidebar' %>
</div>
<%= render 'partials/footer' %>
