<%= provide(:title, sanitize(@lyric.track_name) + " lyrics | " + sanitize(@artist.artist_name)) %>
<div class="wrapper">
  <div class="container">
    <div class="content">

      <%= render 'partials/adsense' %>

      <div class="artist-name">
        <h2><%= link_to @artist.artist_name, artist_path(@artist) %></h2>

        <%= render 'partials/artist_website' %>

      </div>
      <div class="album-separate">
        <span class="album-name"><%= link_to @album.name, artist_album_path(@artist, @album) %></span>
      </div>
      <div class="album-separate track-name">
        <%= @lyric.track_name %>
      </div>
      <div class="lyric-separate">
        <%= @lyric.lyrics %>
      </div>
      <div class="album-separate">
        Submitted by <%= link_to @user.username, user_path(@user) %>
      </div>

      <div class="album-separate track-name">
        What is the meaning of <%= @lyric.track_name %> by <%= @artist.artist_name %>?
      </div>
      <div class="album-separate">
        <%= form_for(Comment.new, url: artist_album_lyric_comments_path(@artist, @album, @lyric)) do |f| %>
          <%= f.text_area :content, placeholder: "What do you think this song means?", class: "text-area" %>
          <div class="actions">
            <%= f.submit "Comment", class: "submit-button" %>
          </div>
        <% end %>
      </div>
      <% if @lyric.comments.any? %>
        <% @lyric.comments.each do |comment| %>
        <div class="album-separate">
          <%= link_to comment.username, user_path(comment.user_id) %> posted <%= time_ago_in_words(comment.created_at) %> ago</br>
          <%= comment.content %>
        </div>
        <% end %>
      <% else %>
        <div class="track-separate">
          No one has any opinion about the meaning of <%= @lyric.track_name %> yet. Add yours!
        </div>
      <% end %>

      <% if user_signed_in? && current_user.username == "alexheil" %>
      <div class="hello-alex">
        <%= link_to "Hello, Alex.", artist_album_lyric_path, method: :delete %>
      </div>
      <% end %>

    </div>
  <%= render 'partials/artist_sidebar' %>
</div>
<%= render 'partials/footer' %>
